<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <title>Add user to T1808M Database</title>
</head>
<body>
<div class="container col-6">
<h1>Create new User</h1>

<form th:action="@{save}" method="post" th:object="${user}">
   <label th:text="Name" th:for="name"></label>
    <input type="text" th:field="*{name}" placeholder="Name"/></br>

    <label th:text="Email" th:for="email"></label>
    <input type="text" th:field="*{email}" placeholder="Email"/></br>

    <label th:text="Phone" th:for="phone"></label>
    <input type="text" th:field="*{phone}" placeholder="Phone"/></br>

    <input type="submit" value="Save"/>

</form>
</div>
</body>
</html>