<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <title>Manage user</title>
</head>
<body>
<div class="container col-6">
   <h1 class="text-center">User Management</h1>
   <table class="table table-striped">
       <tr>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>CRUD</th>
       </tr>
       <tr th:each="user: ${users}">
           <td th:text="${user.name}"></td></br>
           <td th:text="${user.email}"></td></br>
           <td th:text="${user.phone}"></td>
           <td>
               <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-success">Edit</a>
               <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-success">Delete</a>
           </td>
       </tr>
   </table>
<a href="/add" class="btn btn-info">Create User</a>
</div>
</body>
</html>