<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<form th:action="@{/saveProduct}" method="post" th:object="${products}">


    <label th:text="Name" th:for="name" ></label>
    <input type="text" th:field="*{name}"/><br>

    <label th:text="Price" th:for="price"></label>
    <input type="number" th:field="*{price}"/><br>

    <label th:text="Description" th:for="description" ></label>
    <input type="text" th:field="*{description}"/><br>

    <input type="submit" value="Save">

</form>
</body>
</html>